<%- include('components/importlink.ejs') %>
<%- include('components/navbar.ejs') %>
    <div class="container">
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
